.footer {
    background-color: var(--background-color);
    padding: 32px 0;
}

.footer__title {
    width: 300px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 116.667%;
    letter-spacing: -0.48px;
    margin-bottom: 32px;
}

.footer__title--colored {
    color: #FD9222;
}

.footer__contacts__mobile-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;

}

.footer__tablet-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.footer__contacts {}

.footer__contacts-text {
    color: #FFF;
    font-weight: 500;
    line-height: 128.571%;
    margin-bottom: 14px;
}

.footer__contacts-list {}

.footer__contacts-item:not(:last-child) {
    margin-bottom: 4px;
}

.footer__contacts-link {
    color: #FFF;
    text-align: center;
    font-weight: 400;
    line-height: 128.571%;
    letter-spacing: -0.28px;
}

.footer__social-list {
    display: flex;
    gap: 14px
}

.footer__social-item {}

.footer__social-icon {
    fill: transparent;
    stroke: #FFF;
    transition: stroke var(--animation);
}

.footer__social-link:hover .footer__social-icon,
.footer__social-link:focus .footer__social-icon {
    stroke: var(--link-color);
}

.footer__social-icon--mobile {
    width: 22px;
    height: 22px;
}

.footer__social-icon--tablet {
    display: none;
}

.footer__nav-list {
    padding-top: 32px;
}

.footer__nav-item:not(:last-child) {
    margin-bottom: 18px;
}

.footer__nav-link {
    color: #FFF;
    font-weight: 500;
    line-height: 114.286%;
    letter-spacing: -0.28px;

    transition: color var(--animation);
}

.footer__nav-link:hover,
.footer__nav-link:focus {
    color: var(--link-color);
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 50px 0;
    }

    .footer__title {
        font-size: 28px;
        line-height: 121.429%;
        letter-spacing: -0.56px;
        margin-bottom: 0;
    }

    .footer__contacts__mobile-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;

    }

    .footer__tablet-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    .footer__contacts {
        margin-right: 50px;
    }

    .footer__social-list {
        gap: 18px;
    }

    .footer__social-icon--mobile {
        display: none;

    }

    .footer__social-icon--tablet {
        display: block;
        width: 24px;
        height: 24px;
    }

    .footer__nav-list {
        display: flex;
        gap: 24px;
        padding-top: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .footer__tablet-container {
        padding-bottom: 58px;
    }

    .footer__contacts {
        margin-right: 63px;
    }
}