.sellers__title {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
}

.sellers__title--colored {
    color: var(--link-color);
}

.sellers__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.sellers__item {}

.sellers__img-thumb {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}

.sellers__mobile-text {
    width: 306px;
    color: var(--main-text-color);
    font-weight: 400;
    line-height: 128.571%;
    letter-spacing: -0.28px;
}

.sellers__mobile-button {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;

    display: block;
    padding: 12px 28px;

    border-radius: 100px;
    background-color: var(--link-color);
    margin: 0 auto;

    transition: all var(--animation);
}

.sellers__mobile-button:hover,
.sellers__mobile-button:focus {
    background-color: #FCF1E0;
    color: var(--link-color);
}

.sellers__item--desktop {
    display: none;
}

.sellers__desktop-content {
    display: none;
}

@media screen and (min-width: 768px) {
    .sellers__title {
        font-size: 24px;
        line-height: 116.667%;
        letter-spacing: -0.72px;
        margin-bottom: 50px;
    }

    .sellers__list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
    }

    .sellers__img-thumb {
        margin-bottom: 32px;
    }

    .sellers__mobile-text {
        display: none;
    }

    .sellers__mobile-button {
        display: none;
    }

    .sellers__desktop-content {
        display: flex;
        justify-content: space-between;
    }

    .sellers__desktop-content__text {
        width: 306px;
    }

    .sellers__desktop-content__button {
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;

        width: 162px;
        height: 50px;

        border-radius: 100px;
        background: #FD9222;

        transition: all var(--animation);
    }

    .sellers__desktop-content__button:hover,
    .sellers__desktop-content__button:focus {
        background-color: #FCF1E0;
        color: var(--link-color);
    }
}

@media screen and (min-width: 1200px) {
    .sellers__item--desktop {
        display: block;
    }

    .sellers__desktop-content__text {
        width: 407px;
    }
}