.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);

    opacity: 0;
    visibility: hidden;

    transition: opacity var(--animation);
}

.modal {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
}

.overlay.active,
.modal.active {
    opacity: 1;
    visibility: visible;
}