.pop-up-review {
    width: 311px;
    height: 350px;
    padding: 84px 24px 84px 58px;
    border-radius: 15px;
    background-color: var(--link-color);
    overflow: hidden;
}

.pop-up-review__close-btn {
    position: absolute;
    top: 14px;
    right: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;
    padding: 0;
    border-radius: 50%;
    background-color: #FCF1E0;
    transition: all var(--animation);
}

.pop-up-review__close-icon {
    width: 16px;
    height: 16px;
    stroke: var(--link-color);
    transition: all var(--animation);
}

.pop-up-review__close-btn:hover .pop-up-review__close-icon,
.pop-up-review__close-btn:focus .pop-up-review__close-icon {
    transform: scale(1.7);
    stroke: #FCF1E0;
}

.pop-up-review__close-btn:hover,
.pop-up-review__close-btn:focus {
    background-color: #FD9222;
}

.pop-up-review__title {
    color: #FCF1E0;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.pop-up-review__text {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 114.286%;
    letter-spacing: -0.28px;
}

.pop-up-review__img {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 768px) {
    .pop-up-review {
        width: 516px;
        height: 414px;
        padding: 163px 49px 163px 170px;
    }

    .pop-up-review__close-btn {
        top: 24px;
        right: 24px;

        width: 38px;
        height: 38px;
    }

    .pop-up-review__close-icon {
        width: 22px;
        height: 22px;
    }

    .pop-up-review__title {
        font-size: 24px;
        line-height: 116.667%;
        letter-spacing: -0.48px;
    }

    .pop-up-review__text {
        font-size: 18px;
        line-height: 133.333%;
        letter-spacing: -0.36px;
    }
}