.subscribe-modal {
    width: 311px;
    height: 350px;
    border-radius: 15px;
    overflow: hidden;
}

.subscribe-modal__close-btn {
    position: absolute;
    top: 15px;
    right: 14px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.subscribe-modal__close-icon {
    width: 24px;
    height: 24px;
    stroke: #FFF;
    transition: all var(--animation);
}

.subscribe-modal__close-btn:hover .subscribe-modal__close-icon,
.subscribe-modal__close-btn:focus .subscribe-modal__close-icon {
    stroke: var(--link-color);
    transform: scale(1.4);
}

.subscribe-modal__bcg-img {
    height: 169px;
    background-image: url('../img/pop-up/choco-subscribe-mobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .subscribe-modal__bcg-img {
        background-image: url('../img/pop-up/choco-subscribe-mobile@2x.jpg');
    }
}

.subscribe-modal__content {
    padding: 32px 24px;
    background-color: var(--body-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.subscribe-modal__title {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.subscribe-modal__title--colored {
    color: var(--link-color);
}

.subscribe-modal__form {
    display: flex;
    width: 100%;
    height: 45px;

    border-radius: 25px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);

}

.subscribe-modal__input {
    width: 100%;
    height: 100%;
    padding: 14px 18px;
    background-color: var(--body-color);
    border-radius: 25px;
    cursor: pointer;

    color: var(--main-text-color);
    font-weight: 500;
    letter-spacing: -0.28px;
}

.subscribe-modal__input::placeholder {
    color: rgba(64, 64, 64, 0.30);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.28px;
}

.subscribe-modal__button {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 28px;
    border-radius: 100px;
    background-color: var(--link-color);
}

@media screen and (min-width: 768px) {
    .subscribe-modal {
        width: 538px;
        height: 412px;
    }

    .subscribe-modal__close-btn {
        top: 24px;
        right: 24px;
    }

    .subscribe-modal__close-icon {
        width: 28px;
        height: 28px;
    }

    .subscribe-modal__bcg-img {
        height: 196px;
        background-image: url('../img/pop-up/choco-subscribe-tablet-desktop.jpg');
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .subscribe {
            background-image: url('../img/pop-up/choco-subscribe-tablet-desktop@2x.jpg');
        }
    }

    .subscribe-modal__content {
        padding: 40px;
    }

    .subscribe-modal__title {
        font-size: 24px;
        line-height: 116.667%;
        letter-spacing: -0.72px;
        margin-bottom: 28px;
    }

    .subscribe-modal__form {
        display: flex;
        gap: 8px;
        height: 52px;
        width: 313px;
    }

    .subscribe-modal__input {
        width: 313px;
        padding: 14px 24px;
    }

    .subscribe-modal__input::placeholder {
        font-size: 18px;
        letter-spacing: -0.36px;
    }

    .subscribe-modal__button {
        padding: 17px 40px;
    }
}