<section class="feedback">
  <div class="container">
    <h2 class="feedback__title">
      <span class="feedback__title--colored">chocolate</span> is loved
    </h2>
    <div class="swiper feedback__swiper">
      <ul class="feedback__list swiper-wrapper">
        <li class="feedback__item swiper-slide">
          <div class="feedback__thumb">
            <img
              srcset="/img/feedback/1.png 1x, /img/feedback/1@2x.png 2x"
              src="/img/feedback/1.png"
              alt="Victoria Dobrzhanska"
              class="feedback__img"
            />
            <h3 class="feedback__user-name">Victoria Dobrzhanska</h3>
            <p class="feedback__user-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>
        <li class="feedback__item swiper-slide">
          <div class="feedback__thumb">
            <img
              srcset="/img/feedback/2.png 1x, /img/feedback/2@2x.png 2x"
              src="/img/feedback/2.png"
              alt="Nazar Babenko"
              class="feedback__img"
            />
            <h3 class="feedback__user-name">Nazar Babenko</h3>
            <p class="feedback__user-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>
        <li class="feedback__item swiper-slide">
          <div class="feedback__thumb">
            <img
              srcset="/img/feedback/3.png 1x, /img/feedback/3@2x.png 2x"
              src="/img/feedback/3.png"
              alt="Olena Kampusch"
              class="feedback__img"
            />
            <h3 class="feedback__user-name">Olena Kampusch</h3>
            <p class="feedback__user-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>
        <li class="feedback__item swiper-slide">
          <div class="feedback__thumb">
            <img
              srcset="/img/feedback/4.png 1x, /img/feedback/4@2x.png 2x"
              src="/img/feedback/4.png"
              alt="Natalia Sus"
              class="feedback__img"
            />
            <h3 class="feedback__user-name">Natalia Sus</h3>
            <p class="feedback__user-text">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </li>
        <li class="feedback__item swiper-slide">
          <div class="feedback__thumb">
            <img
              srcset="/img/feedback/5.png 1x, /img/feedback/5@2x.png 2x"
              src="/img/feedback/5.png"
              alt="Danilo Nottingham"
              class="feedback__img"
            />
            <h3 class="feedback__user-name">Danilo Nottingham</h3>
            <p class="feedback__user-text">
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </li>
        <li class="feedback__item swiper-slide">
          <div class="feedback__thumb">
            <img
              srcset="/img/feedback/6.png 1x, /img/feedback/6@2x.png 2x"
              src="/img/feedback/6.png"
              alt="Irina Tydnyuk"
              class="feedback__img"
            />
            <h3 class="feedback__user-name">Irina Tydnyuk</h3>
            <p class="feedback__user-text">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :&#41;
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <button class="feedback__button js-open-modal" type="button" data-modal="2">
      Leave a review
    </button>
  </div>
</section>
