<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__tablet-container">
      <h2 class="footer__title">
        <span class="footer__title--colored">Chocolate</span> a delicious cure
        for a bad day
      </h2>
      <div class="footer__contacts__mobile-container">
        <div class="footer__contacts">
          <p class="footer__contacts-text">Contact us</p>
          <ul class="footer__contacts-list">
            <li class="footer__contacts-item">
              <a href="tel:+380684439426" class="footer__contacts-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer__contacts-item">
              <a
                href="mailto:simplychoc@gmail.com"
                class="footer__contacts-link"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </div>
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="footer__social-link"
            >
              <svg class="footer__social-icon footer__social-icon--mobile">
                <use
                  href="/img/icons/mobile/symbol-defs.svg#icon-instagram"
                ></use>
              </svg>
              <svg class="footer__social-icon footer__social-icon--tablet">
                <use
                  href="/img/icons/desktop/symbol-defs.svg#icon-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="footer__social-link"
            >
              <svg class="footer__social-icon footer__social-icon--mobile">
                <use
                  href="/img/icons/mobile/symbol-defs.svg#icon-twitter"
                ></use>
              </svg>
              <svg class="footer__social-icon footer__social-icon--tablet">
                <use
                  href="/img/icons/desktop/symbol-defs.svg#icon-twitter"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="footer__nav-list">
      <li class="footer__nav-item">
        <a href="#" class="footer__nav-link">Home</a>
      </li>
      <li class="footer__nav-item">
        <a href="#how-its-made" class="footer__nav-link">How it’s made?</a>
      </li>
      <li class="footer__nav-item">
        <a href="#products" class="footer__nav-link">Our products</a>
      </li>
      <li class="footer__nav-item">
        <a href="#top-sellers" class="footer__nav-link">Top sellers</a>
      </li>
      <li class="footer__nav-item">
        <a href="#feedback" class="footer__nav-link">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</footer>
