<header class="header">
  <div class="container">
    <a href="/index.html" class="logo"
      >SIMPLY<span class="logo__accent">CHOCOLATE</span>
      <svg class="logo__mob-icon">
        <use href="/img/icons/mobile/symbol-defs.svg#icon-chocolate"></use>
      </svg>
      <svg class="logo__desktop-icon">
        <use href="/img/icons/desktop/symbol-defs.svg#icon-chocolate"></use>
      </svg>
    </a>
    <button class="header__burger-btn" data-menu-button>
      <svg class="header__burger-btn-mob-icon">
        <use href="/img/icons/mobile/symbol-defs.svg#icon-menu"></use>
      </svg>
      <svg class="header__burger-btn-tablet-icon">
        <use href="/img/icons/tablet/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="#how-its-made" class="header__nav-link">How it’s made?</a>
        </li>
        <li class="header__nav-item">
          <a href="#products" class="header__nav-link">Our products</a>
        </li>
        <li class="header__nav-item">
          <a href="#top-sellers" class="header__nav-link">Top sellers</a>
        </li>
        <li class="header__nav-item">
          <a href="#feedback" class="header__nav-link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="header__social-links-list">
      <li class="header__social-links-item">
        <a
          href="https://www.instagram.com/"
          class="header__social-links-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header__social-links-icon">
            <use href="/img/icons/mobile/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header__social-links-item">
        <a
          href="https://twitter.com/"
          class="header__social-links-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header__social-links-icon">
            <use href="/img/icons/mobile/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
