<div class="container">
  <section class="hero-section">
    <h1 class="hero__title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>

    <div class="hero__buttons">
      <div class="hero__button-thumb">
        <button class="hero__button js-open-modal" type="button" data-modal="1">
          Buy now
        </button>
        <a class="hero__link" href="#how-its-made">How it’s made</a>
      </div>
      <a class="hero__scroll-down-link">
        scroll down
        <div class="hero__scroll-down-icon-thumb">
          <svg class="hero__scroll-down-icon">
            <use
              href="/img/icons/mobile/symbol-defs.svg#icon-angle-small-left"
            ></use>
          </svg>
        </div>
      </a>
    </div>
  </section>
</div>
