<div class="mobile-menu" data-menu>
  <button class="mobile-menu__close-btn" type="button" data-menu-close>
    <svg class="mobile-menu__close-icon">
      <use href="/img/icons/mobile/symbol-defs.svg#icon-x"></use>
    </svg>
  </button>
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#how-its-made" class="mobile-menu__link">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#products" class="mobile-menu__link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#top-sellers" class="mobile-menu__link">Top sellers</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#feedback" class="mobile-menu__link">Chocolate is loved</a>
    </li>
  </ul>
  <ul class="mobile-menu__social-icons-list">
    <li class="mobile-menu__social-icons-item">
      <a href="" class="mobile-menu__social-icons-link">
        <svg class="mobile-menu__social-icons-icon">
          <use href="/img/icons/mobile/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu__social-icons-item">
      <a href="" class="mobile-menu__social-icons-link">
        <svg class="mobile-menu__social-icons-icon">
          <use href="/img/icons/mobile/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
