<div class="overlay js-overlay-modal"></div>
<div class="pop-up-buy modal modal3" data-modal="3">
  <button type="button" class="pop-up-buy__close-btn js-modal-close">
    <svg class="pop-up-buy__close-icon">
      <use href="/img/icons/mobile/symbol-defs.svg#icon-x"></use>
    </svg>
  </button>
  <h2 class="pop-up-buy__title">thank you!</h2>
  <p class="pop-up-buy__text">
    We are glad that you ordered our chocolate and we are giving you a
    <span class="pop-up-buy__text--colored">20%</span> discount on all our
    products.
  </p>
  <div class="pop-up-buy__img">
    <picture>
      <source
        srcset="
          /img/pop-up/choco-bar-tablet-desktop.png    1x,
          /img/pop-up/choco-bar-tablet-desktop@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/pop-up/choco-bar-mobile.png    1x,
          /img/pop-up/choco-bar-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="#" alt="choco bar" />
    </picture>
  </div>
</div>
