<div class="pop-up-review modal" data-modal="4">
  <button type="button" class="pop-up-review__close-btn js-modal-close">
    <svg class="pop-up-review__close-icon">
      <use href="/img/icons/mobile/symbol-defs.svg#icon-x"></use>
    </svg>
  </button>
  <h2 class="pop-up-review__title">
    thank you <br />
    for your feedback!
  </h2>
  <p class="pop-up-review__text">
    We are so happy to hear <br />
    from you!
  </p>
  <div class="pop-up-review__img">
    <picture>
      <source
        srcset="
          /img/pop-up/choco-bar-tablet-desktop.png    1x,
          /img/pop-up/choco-bar-tablet-desktop@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/pop-up/choco-bar-mobile.png    1x,
          /img/pop-up/choco-bar-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="#" alt="choco bar" />
    </picture>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>
