<section class="taste">
  <div class="container">
    <h2 class="taste__title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="taste__title--colored">TASTE</span> SENSATION
    </h2>
    <p class="taste__text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="taste__list">
      <li class="taste__item">
        <div class="taste__card">
          <div class="taste__picture">
            <picture>
              <source
                srcset="
                  ../img/taste/chocolate-bar-desktop.png    1x,
                  ../img/taste/chocolate-bar-desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ../img/taste/chocolate-bar-tablet-mobile.png    1x,
                  ../img/taste/chocolate-bar-tablet-mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <img src="#" alt="Chocolate bar" />
            </picture>
          </div>
          <p class="taste__subtitle">milk chocolate</p>
          <div class="taste__card-overlay">
            <h3 class="taste__card-overlay__title">milk chocolate</h3>
            <ul class="taste__card-overlay__button-list">
              <li class="taste__card-overlay__linked-item">
                <div>chocolate</div>
              </li>
              <li class="taste__card-overlay__item">
                <div>the benefits</div>
              </li>
            </ul>
            <p class="taste__card-overlay__text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe, increasingly large amounts
              are consumed in China and Latin America.
            </p>
          </div>
        </div>
      </li>
      <li class="taste__item">
        <div class="taste__card">
          <div class="taste__picture">
            <picture>
              <source
                srcset="
                  ../img/taste/milk-desktop.png    1x,
                  ../img/taste/milk-desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ../img/taste/milk-tablet-mobile.png    1x,
                  ../img/taste/milk-tablet-mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <img src="#" alt="Chocolate bar" />
            </picture>
          </div>
          <p class="taste__subtitle">milk</p>
          <div class="taste__card-overlay">
            <h3 class="taste__card-overlay__title">milk</h3>
            <ul class="taste__card-overlay__button-list">
              <li class="taste__card-overlay__linked-item">
                <div>milk</div>
              </li>
              <li class="taste__card-overlay__item">
                <div>the benefits</div>
              </li>
            </ul>
            <p class="taste__card-overlay__text">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system, and thus
              reduces the risk of many diseases. Milk contains many nutrients,
              including protein and lactose.
            </p>
          </div>
        </div>
      </li>
      <li class="taste__item">
        <div class="taste__card">
          <div class="taste__picture">
            <picture>
              <source
                srcset="
                  ../img/taste/nuts-desktop.png    1x,
                  ../img/taste/nuts-desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ../img/taste/nuts-tablet-mobile.png    1x,
                  ../img/taste/nuts-tablet-mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <img src="#" alt="Chocolate bar" />
            </picture>
          </div>
          <p class="taste__subtitle">nuts</p>
          <div class="taste__card-overlay">
            <h3 class="taste__card-overlay__title">nuts</h3>
            <ul class="taste__card-overlay__button-list">
              <li class="taste__card-overlay__linked-item">
                <div>nuts</div>
              </li>
              <li class="taste__card-overlay__item">
                <div>the benefits</div>
              </li>
            </ul>
            <p class="taste__card-overlay__text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own, paired with
              fruit, or added to dishes like salads, desserts, and grains.
            </p>
          </div>
        </div>
      </li>
      <li class="taste__item">
        <div class="taste__card">
          <div class="taste__picture">
            <picture>
              <source
                srcset="
                  ../img/taste/sweets-desktop.png    1x,
                  ../img/taste/sweets-desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ../img/taste/sweets-tablet-mobile.png    1x,
                  ../img/taste/sweets-tablet-mobile@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <img src="#" alt="Chocolate bar" />
            </picture>
          </div>
          <p class="taste__subtitle">semi - sweet chocolate</p>
          <div class="taste__card-overlay">
            <h3 class="taste__card-overlay__title">semi - sweet chocolate</h3>
            <ul class="taste__card-overlay__button-list">
              <li class="taste__card-overlay__linked-item">
                <div>sweet chocolate</div>
              </li>
              <li class="taste__card-overlay__item">
                <div>the benefits</div>
              </li>
            </ul>
            <p class="taste__card-overlay__text">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter and
              more mellow. This delectable flavor of chocolate is very
              versatile.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
