<section class="sellers" id="top-sellers">
  <div class="container">
    <h2 class="sellers__title">
      <span class="sellers__title--colored">tOp</span> Sellers
    </h2>
    <ul class="sellers__list">
      <li class="sellers__item">
        <div class="sellers__img-thumb">
          <picture>
            <source
              srcset="
                /img/top-sellers/image-1-desktop.jpg    1x,
                /img/top-sellers/image-1-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/top-sellers/image-1-tablet.jpg    1x,
                /img/top-sellers/image-1-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/top-sellers/image-1-mobile.jpg    1x,
                /img/top-sellers/image-1-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="#" alt="How made chocolate" />
          </picture>
        </div>
        <p class="sellers__mobile-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers__item">
        <div class="sellers__img-thumb">
          <picture>
            <source
              srcset="
                /img/top-sellers/image-2-desktop.jpg    1x,
                /img/top-sellers/image-2-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/top-sellers/image-2-tablet.jpg    1x,
                /img/top-sellers/image-2-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/top-sellers/image-2-mobile.jpg    1x,
                /img/top-sellers/image-2-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="#" alt="How made chocolate" />
          </picture>
        </div>
        <button
          class="sellers__mobile-button js-open-modal"
          type="button"
          data-modal="1"
        >
          Buy now
        </button>
      </li>
      <li class="sellers__item sellers__item--desktop">
        <div class="sellers__img-thumb">
          <img
            srcset="
              /img/top-sellers/image-3-desktop.jpg    1x,
              /img/top-sellers/image-3-desktop@2x.jpg 2x
            "
            src="/img/top-sellers/image-3-desktop.jpg"
          />
        </div>
      </li>
    </ul>
    <div class="sellers__desktop-content">
      <p class="sellers__desktop-content__text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button
        class="sellers__desktop-content__button js-open-modal"
        type="button"
        data-modal="1"
      >
        Buy now
      </button>
    </div>
  </div>
</section>
